@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layoutCustomer.cshtml";
}

@model List<Category>

<section class="py-3 background-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <div class="banner-blocks">

                    <div id="carouselExampleIndicators" class="carousel slide banner-ad block-1" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        </div>

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row banner-content p-5">
                                    <div class="content-wrapper col-md-7">
                                        <div class="categories my-3"><b>SAMSUNG</b></div>
                                        <h3 class="display-4">Galaxy S24</h3>
                                        <h3 class="display-4">Jan 25, 2025 at 11:00</h3>
                                        <p>Get Benefits Upto ₹3000. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                                        <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">Shop Now</a>
                                    </div>
                                    <div class="img-wrapper col-md-5">
                                        <img src="/customerWebsiteImages/samsung-galaxy-s24.png" class="img-fluid" alt="Samsung Galaxy S24">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row banner-content p-5">
                                    <div class="content-wrapper col-md-7">
                                        <div class="categories my-3"><b>OnePlus+</b></div>
                                        <h3 class="display-4">OnePlus 13R 5G</h3>
                                        <h3 class="display-4">Starting at ₹39,999*</h3>
                                        <p>Get Benefits Upto ₹3000. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                                        <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">Shop Now</a>
                                    </div>
                                    <div class="img-wrapper col-md-5">
                                        <img src="/customerWebsiteImages/OnePlus.png" class="img-fluid" alt="OnePlus 13R">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="py-5 ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header d-flex flex-wrap justify-content-between mb-5">
                    <h2 class="section-title">Shop by Category</h2>

                    <div class="d-flex align-items-center">
                        <a href="#" class="btn-link text-decoration-none">View All Categories →</a>
                        <div class="swiper-buttons">
                            <button class="swiper-prev category-carousel-prev btn btn-yellow">❮</button>
                            <button class="swiper-next category-carousel-next btn btn-yellow">❯</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="category-carousel swiper">
                    <div class="swiper-wrapper">
                        <!-- Add category items here -->
                        @foreach (var category in Model)
                        {
                            <a href="@Url.Action("ProductListPage", "Customer", new { categoryId = category.category_id })" class="nav-link category-item swiper-slide">
                                <img src="CategoryUploadsThumbnails/@category.Thumbnail_Image" alt="@category.category_name Thumbnail">
                                <h3 class="category-title">@category.category_name</h3>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




